.App {
  padding: 10px;
  margin: 10px;
  display: flex;
}

.control-panel{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 300px;
}

.events-index {
  flex: 3;
}

.divider {
  width: 100%;
  height: 1px;
}

.button {
  width: 100%;
}

.relative {
  position: relative;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.4);
}

.prediction-box {
  position: absolute;
  font-weight: bold;
  z-index: 2;
}

.prediction-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.prediction-score {
  background-color: rgba(160, 160, 160, 0.2);
}

img {
  width: 100%;
}

.border{
  border: 1px solid;
  margin: 15px;
  padding: 10px;
}

.inline-block{
  display: inline-block;
}